@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}
.detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.text-box{
    width: 600px;
    height: auto;
    text-align: center;
    margin: 20px;
}
.detail__year{
    opacity: .7;
}